body{
    margin: 0;
    padding: 0;
    font-family: "Love Light", cursive;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    color: rgb(203, 3, 110);
   }

/* BACKGROUND GRIDIENT */
#bg-gradient{
    position: absolute;;
    height: 100vh;
    width: 100%;
    z-index: -1;
    background: rgb(252,181,189);
    background: radial-gradient(circle, rgba(252,181,189,1) 0%, rgba(251,218,243,1) 49%, rgba(225,192,254,1) 100%);
}

/* BACKGROUND HEART IMAGE */
#img-hearts{
    position: absolute;
    top: 27%;
    left: 2%;
}

.right-img{
    position: relative;
    left: 43%;
    transform: scaleX(-1);
}

/* BACKGROUND BANNER */
#bg-banner-container {
    position: absolute;
    display: flex;
    top: -20%;
}


/* TEXT  */
#question-container{
    position: absolute;
    left: 20%;
    top: 20%;
    font-size: 4em;
    text-shadow: 5px 5px 5px rgba(169, 22, 22, 0.3);
}

#question-container h1{
    animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

/* YES NO BUTTONS AND IMAGES */
#yes-no-container{
    position: absolute;
    height: auto;
    width: auto;
    top: 55%;
    left: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#yes-no-container img{
    width: 150px;
    height: 150px;
    margin-inline: 50px;
}

#btn-container button{
    position: relative;
    margin-inline: 45px;
    padding: 10px 65px;
    border: none;
    border-radius: 50px;
    background: #ffebeb;
    font-size: 1em;
    font-family: "Protest Riot", sans-serif;
    color: rgb(74, 1, 40);
    box-shadow: 5px 5px 5px rgba(169, 22, 22, 0.3);
    transition: transform 0.2s ease-in-out;
}

#btn-right{
    position: fixed;
}

#btn-left:hover{
    background: #8affb7;
    cursor: pointer;
    transform: rotate(5deg) scale(1.1);
}

#btn-left:hover:active {
    transform: rotate(-5deg) scale(1.1);
}

#btn-right:hover{
    background: #fe8282;
    cursor: pointer;
    transform: rotate(-5deg) scale(1.1);
}

#btn-right:hover:active {
    transform: rotate(5deg) scale(1.1);
}

/* YES HUG GIF */
#gif-container{
    position: relative;
    top: 410px;
    left: 37%;
    background: transparent;
    height: 280px;
    width: 400px;
    display: none;
}

#yes-gif{
    height: 280px;
    width: 400px;
    border-radius: 20px;
}


/* RESPONSIVE MOBILE */
@media screen and (max-width: 768px) {
    
    /* BACKGROUND GRIDIENT */
    #bg-gradient{
        position: absolute;
        height: 110vh;
        width: 100%;
    }

    /* BACKGROUND HEART IMAGE */
    .left-img{
        position: relative;
        width: 250px;
        height: 250px; 
        left: 10px; 
    }

    .right-img{
        position: relative;
        width: 250px;
        height: 250pxs;
        left: 95px;
        transform: scaleX(-1);
    }    

    /* BACKGROUND BANNER */
    #bg-banner-container {
        position: relative;
        width: 100%;
        height: 200px;
    }

    .img-banner{
        position: relative;
        width: 120px;
        left: 5px;
    }

    /* TEXT  */
    #question-container{
        top: 20%;
        left: 15%;
        font-size: 1.5em;
    }

    /* YES NO BUTTONS AND IMAGES */
    #yes-no-container{
        width: 100%;
        left: 0px;
        top: 65%;
        gap: 20px;
    }

    #img-container, #btn-container{
        display: flex;
    }

    #btn-container{
        position: relative;
        width: 90%;
    }

    #btn-container button{
        left: -20px;
        padding: 10px 50px;
        margin-inline: 35px;
    }


    #yes-no-container img{
        width: 100px;
        height: 100px;
        margin-inline: 30px;
    }

    #btn-container #btn-right{
        left: -50px;
        top: 0px;
        z-index: 1;
    }    

    /* YES HUG GIF */
    #gif-container{
        top: 150px;
        left: 2%;
    }

    #yes-gif{
        height: 280px;
        width: 350px;
    }
}

